* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background: #343838;
    font: 18px 'Georgia', 'inconsolata', 'Arial', 'sans-serif';
    line-height: 18px;
    border: none;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dropdown {
    margin: 0px auto;
    position: relative;
    width: calc(100% - 40px);
    max-width: 400px;
}

.dropdown label {
    display: block;
    padding: 8px 16px;
    background: #FBEC5D;
    color: #343838;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown ul {
    list-style: none;
    position: absolute;
    width: 100%;
}

.dropdown ul li {
    padding: 0px 16px;
    background: #2F3FD5;
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
}

.dropdown ul li:hover,
.dropdown ul li.selected {
    background: #5D6CFB;
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown:hover ul li {
    padding: 8px 16px;
    height: 34px;
}
